<div class="col-md-4 col-md-offset-5" >
    <div class="card ">
    <div class="card-header">
        LOGIN REQUIRED
    </div>
    <div class="card-block">
        <h4 class="card-title"><a {{action 'authenticateWithGithub'}} class="btn btn-outline-success btn-lg" style="cursor: pointer;">{{fa-icon "github" color="green" border=true}}Login with Github</a></h4>
    </div>
    </div>
</div>